<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>produtoForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">produtoForm</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <form #fc="ngForm">
      <ion-list>
        <ion-item class="pt-10">
          <ion-input label="Nome" label-placement="floating" [(ngModel)]="produto.nome" name="nome"
            required></ion-input>
        </ion-item>



        <ion-item class="pt-10">
          <ion-input label="categoria" label-placement="floating" [(ngModel)]="produto.categoria" name="categoria"
            required></ion-input>
        </ion-item>

        <ion-item class="pt-10">
          <ion-input label="descricao" label-placement="floating" (ngModel)="produto.descricao" name="descricao"
            required></ion-input>
        </ion-item>


        <ion-item item class="pt-10">
          <ion-input label="quant" type="number" label-placement="floating" [(ngModel)]="produto.quant" name="quant"
            required></ion-input>
        </ion-item>

        <ion-item item class="pt-10">
          <ion-input label="valor" type="number" label-placement="floating" [(ngModel)]="produto.valor" name="valor"
            required></ion-input>
        </ion-item>


        
        <ion-item item class="pt-10">
          <ion-input label="fotos"  label-placement="floating" [(ngModel)]="produto.fotos" name="fotos"
            required></ion-input>
        </ion-item>

       
        <ion-item item class="pt-10 ion-text-end">
          <ion-button [disabled]="fc.invalid" (click)="save()">Salvar<ion-icon
              name="checkbox-outline"></ion-icon></ion-button>
          <ion-button color="danger">Cancelar</ion-button>
        </ion-item>

      </ion-list>
    </form>

  </ion-content>

</ion-content>